.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 34.6469px;
  line-height: 36px;
  color: #FFFFFF;
}